<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,196},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{232,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{190,194}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{190,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{194,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{230,192}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{230,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{184,188}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{184,188}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{176,192}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{232,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{190,194}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{190,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{194,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{230,192}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{230,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{184,188}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{184,188}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{184,188}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{184,188}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{176,192}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{232,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{190,194}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{190,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{194,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{230,192}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{230,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{184,188}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{184,188}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{176,192}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{232,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{190,194}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{190,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{176,192}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{194,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{230,192}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{230,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,196},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{232,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{190,194}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{190,194}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{194,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{230,192}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{230,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{184,188}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{184,188}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{176,192}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_d4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8656c194575f7e57e34d9edc64eb770:cf6647ac5478ece5bbc07b4c7d6b1168:988bfd7a982bd04cd520b6ca096104cb$</string>
            <key>textureFileName</key>
            <string>player_1_d4.png</string>
        </dict>
    </dict>
</plist>
