<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_3_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{206,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{206,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{254,118}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{254,118}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,128}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{218,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,132},{218,126}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{218,126}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{206,112}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{206,112}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,530},{200,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{200,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{248,154}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{248,154}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{182,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{182,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,664},{170,128}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{170,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{170,116}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{170,116}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{276,108}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{276,108}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{206,112}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{206,112}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,114}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{288,114}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{254,118}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{254,118}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,128}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{218,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,132},{218,126}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{218,126}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{206,112}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{206,112}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,530},{200,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{200,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{248,154}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{248,154}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{182,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{182,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,664},{170,128}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{170,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{170,116}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{170,116}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,530},{200,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{200,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{276,108}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{276,108}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,114}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{288,114}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{254,118}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{254,118}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,128}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{218,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,132},{218,126}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{218,126}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{206,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{206,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{248,154}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{248,154}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{182,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{182,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,664},{170,128}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{170,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{170,116}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{170,116}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{276,108}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{276,108}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,114}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{288,114}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3_d4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f9be42334624070deabbef58c2358e:83fc99ded45e726846dceba96af7b3c6:d47ec72f9fd750485ff2ee0c13cce9cf$</string>
            <key>textureFileName</key>
            <string>player_3_d4.png</string>
        </dict>
    </dict>
</plist>
