<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_3_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{260,190}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,718},{258,192}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{258,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{260,190}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,458},{258,196}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{258,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,192}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{260,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{254,198}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{254,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{260,190}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{260,186}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{260,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,718},{258,192}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{258,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{260,190}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,458},{258,196}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{258,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{260,186}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{260,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,192}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{260,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{254,198}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{254,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{260,190}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{260,186}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{260,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,718},{258,192}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{258,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{260,190}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,458},{258,196}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{258,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,192}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{260,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{254,198}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{254,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{206,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{206,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,718},{258,192}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{258,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{260,190}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,458},{258,196}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{258,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,192}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{260,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{254,198}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{254,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{260,190}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{260,190}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{260,186}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{260,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3_d3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca0503cf3e47fe7531475c0e88af8e1:dfb8a482ca20544e70c1212da301b711:7038849a4fa94f524b39b6839f957375$</string>
            <key>textureFileName</key>
            <string>player_3_d3.png</string>
        </dict>
    </dict>
</plist>
