<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hulk_animation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1676},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,839},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,560},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,281},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1118},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,839},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation15.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1680},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation16.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1401},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation17.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,283},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation18.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation19.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1690},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1397},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation20.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation21.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1702},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation22.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1419},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation23.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,281},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation31.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1136},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation32.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,853},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation33.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,570},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation34.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,287},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation35.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1409},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation36.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1128},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation37.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,847},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation38.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,566},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation39.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,285},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1676},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation40.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1122},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation41.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,843},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation42.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,564},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,560},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,281},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1676},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1397},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1676},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1397},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1397},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,560},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,281},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1676},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1118},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,560},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,281},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,839},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,839},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,2},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,839},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1118},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,560},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1397},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1118},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>hulk_animation9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1118},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hulk_animation.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd6533525befa51993d0c0e434c6fa0:1/1$</string>
            <key>textureFileName</key>
            <string>hulk_animation.png</string>
        </dict>
    </dict>
</plist>
