<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_2_i_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1676},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,839},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,560},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,281},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1118},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,839},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1680},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1401},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,283},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1690},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1397},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1702},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1419},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,281},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,277}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{283,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1136},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,853},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,570},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,287},{281,277}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{281,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1409},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1128},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,847},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,566},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,285},{279,277}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{279,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1676},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1122},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,843},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,564},{277,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,560},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,281},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{275,277}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{275,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1676},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1397},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1676},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1397},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1397},{273,277}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{273,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,560},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,281},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1676},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1118},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,560},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,281},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,839},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,839},{269,277}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,2},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,839},{267,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{267,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,1118},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,560},{265,277}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{265,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1397},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1118},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
            <key>player_2_i_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1118},{271,277}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{271,277}}</string>
                <key>sourceSize</key>
                <string>{333,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_2_i.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baacf36ba91976b3852f8ce0408fc691:1/1$</string>
            <key>textureFileName</key>
            <string>player_2_i.png</string>
        </dict>
    </dict>
</plist>
