<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,912},{102,206}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{102,206}}</string>
                <key>sourceSize</key>
                <string>{136,252}</string>
            </dict>
            <key>player_1_d1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1150},{100,204}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{100,204}}</string>
                <key>sourceSize</key>
                <string>{148,234}</string>
            </dict>
            <key>player_1_d1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{94,206}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{94,206}}</string>
                <key>sourceSize</key>
                <string>{126,226}</string>
            </dict>
            <key>player_1_d1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,430},{98,208}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{98,208}}</string>
                <key>sourceSize</key>
                <string>{136,248}</string>
            </dict>
            <key>player_1_d1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,328},{100,210}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{100,210}}</string>
                <key>sourceSize</key>
                <string>{170,252}</string>
            </dict>
            <key>player_1_d1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{100,210}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,37},{100,210}}</string>
                <key>sourceSize</key>
                <string>{152,278}</string>
            </dict>
            <key>player_1_d1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,434},{94,208}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{94,208}}</string>
                <key>sourceSize</key>
                <string>{160,246}</string>
            </dict>
            <key>player_1_d1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{98,208}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{98,208}}</string>
                <key>sourceSize</key>
                <string>{182,248}</string>
            </dict>
            <key>player_1_d1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1090},{112,188}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{112,188}}</string>
                <key>sourceSize</key>
                <string>{134,232}</string>
            </dict>
            <key>player_1_d1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{82,190}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{82,190}}</string>
                <key>sourceSize</key>
                <string>{128,236}</string>
            </dict>
            <key>player_1_d1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{112,186}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{112,186}}</string>
                <key>sourceSize</key>
                <string>{162,258}</string>
            </dict>
            <key>player_1_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,946},{102,206}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{102,206}}</string>
                <key>sourceSize</key>
                <string>{158,254}</string>
            </dict>
            <key>player_1_d1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1252},{128,202}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,45},{128,202}}</string>
                <key>sourceSize</key>
                <string>{174,284}</string>
            </dict>
            <key>player_1_d1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,856},{102,206}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,206}}</string>
                <key>sourceSize</key>
                <string>{146,238}</string>
            </dict>
            <key>player_1_d1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,976},{112,188}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,43},{112,188}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>player_1_d1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{102,206}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{102,206}}</string>
                <key>sourceSize</key>
                <string>{150,238}</string>
            </dict>
            <key>player_1_d1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,808},{102,206}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,206}}</string>
                <key>sourceSize</key>
                <string>{144,248}</string>
            </dict>
            <key>player_1_d1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1016},{98,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,21},{98,206}}</string>
                <key>sourceSize</key>
                <string>{166,248}</string>
            </dict>
            <key>player_1_d1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{116,204}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{116,204}}</string>
                <key>sourceSize</key>
                <string>{186,246}</string>
            </dict>
            <key>player_1_d1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1050},{98,206}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{98,206}}</string>
                <key>sourceSize</key>
                <string>{184,246}</string>
            </dict>
            <key>player_1_d1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,842},{102,206}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{102,206}}</string>
                <key>sourceSize</key>
                <string>{138,264}</string>
            </dict>
            <key>player_1_d1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,960},{98,206}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{98,206}}</string>
                <key>sourceSize</key>
                <string>{146,250}</string>
            </dict>
            <key>player_1_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,598},{104,206}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{104,206}}</string>
                <key>sourceSize</key>
                <string>{152,252}</string>
            </dict>
            <key>player_1_d1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1116},{118,204}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{118,204}}</string>
                <key>sourceSize</key>
                <string>{154,252}</string>
            </dict>
            <key>player_1_d1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{98,206}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{98,206}}</string>
                <key>sourceSize</key>
                <string>{146,270}</string>
            </dict>
            <key>player_1_d1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,752},{102,206}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{102,206}}</string>
                <key>sourceSize</key>
                <string>{180,264}</string>
            </dict>
            <key>player_1_d1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{154,170}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,57},{154,170}}</string>
                <key>sourceSize</key>
                <string>{168,256}</string>
            </dict>
            <key>player_1_d1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,538},{140,182}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,43},{140,182}}</string>
                <key>sourceSize</key>
                <string>{194,252}</string>
            </dict>
            <key>player_1_d1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,312},{106,210}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,21},{106,210}}</string>
                <key>sourceSize</key>
                <string>{226,260}</string>
            </dict>
            <key>player_1_d1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,196},{142,192}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{142,192}}</string>
                <key>sourceSize</key>
                <string>{198,232}</string>
            </dict>
            <key>player_1_d1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,680},{152,174}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,29},{152,174}}</string>
                <key>sourceSize</key>
                <string>{242,238}</string>
            </dict>
            <key>player_1_d1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{142,192}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{142,192}}</string>
                <key>sourceSize</key>
                <string>{178,256}</string>
            </dict>
            <key>player_1_d1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,236},{106,210}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{106,210}}</string>
                <key>sourceSize</key>
                <string>{162,242}</string>
            </dict>
            <key>player_1_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1196},{98,204}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{98,204}}</string>
                <key>sourceSize</key>
                <string>{142,240}</string>
            </dict>
            <key>player_1_d1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,834},{140,188}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{140,188}}</string>
                <key>sourceSize</key>
                <string>{204,224}</string>
            </dict>
            <key>player_1_d1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{116,214}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{116,214}}</string>
                <key>sourceSize</key>
                <string>{164,292}</string>
            </dict>
            <key>player_1_d1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,204},{122,210}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{122,210}}</string>
                <key>sourceSize</key>
                <string>{212,254}</string>
            </dict>
            <key>player_1_d1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,86},{116,212}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,17},{116,212}}</string>
                <key>sourceSize</key>
                <string>{200,252}</string>
            </dict>
            <key>player_1_d1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,738},{102,206}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{102,206}}</string>
                <key>sourceSize</key>
                <string>{186,290}</string>
            </dict>
            <key>player_1_d1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,196},{114,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{114,212}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>player_1_d1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{122,210}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{122,210}}</string>
                <key>sourceSize</key>
                <string>{196,264}</string>
            </dict>
            <key>player_1_d1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,80},{114,214}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{114,214}}</string>
                <key>sourceSize</key>
                <string>{182,250}</string>
            </dict>
            <key>player_1_d1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{102,206}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,25},{102,206}}</string>
                <key>sourceSize</key>
                <string>{188,282}</string>
            </dict>
            <key>player_1_d1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1690},{156,136}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{156,136}}</string>
                <key>sourceSize</key>
                <string>{200,208}</string>
            </dict>
            <key>player_1_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,704},{102,206}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{102,206}}</string>
                <key>sourceSize</key>
                <string>{136,252}</string>
            </dict>
            <key>player_1_d1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1828},{128,118}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{236,204}</string>
            </dict>
            <key>player_1_d1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1828},{130,130}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{130,130}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>player_1_d1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1840},{128,170}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,19},{128,170}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>player_1_d1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1828},{124,154}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,31},{124,154}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
            <key>player_1_d1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1604},{148,156}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,47},{148,156}}</string>
                <key>sourceSize</key>
                <string>{246,234}</string>
            </dict>
            <key>player_1_d1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1570},{168,136}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,31},{168,136}}</string>
                <key>sourceSize</key>
                <string>{224,190}</string>
            </dict>
            <key>player_1_d1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,390},{146,158}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,35},{146,158}}</string>
                <key>sourceSize</key>
                <string>{234,218}</string>
            </dict>
            <key>player_1_d1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1382},{120,198}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{120,198}}</string>
                <key>sourceSize</key>
                <string>{156,238}</string>
            </dict>
            <key>player_1_d1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1614},{132,190}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,13},{132,190}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>player_1_d1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1436},{152,194}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,41},{152,194}}</string>
                <key>sourceSize</key>
                <string>{252,254}</string>
            </dict>
            <key>player_1_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,648},{102,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{102,206}}</string>
                <key>sourceSize</key>
                <string>{120,246}</string>
            </dict>
            <key>player_1_d1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1060},{134,204}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,41},{134,204}}</string>
                <key>sourceSize</key>
                <string>{236,282}</string>
            </dict>
            <key>player_1_d1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,120},{114,212}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{114,212}}</string>
                <key>sourceSize</key>
                <string>{212,260}</string>
            </dict>
            <key>player_1_d1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,530},{116,206}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,41},{116,206}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>player_1_d1_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1296},{138,200}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{138,200}}</string>
                <key>sourceSize</key>
                <string>{172,260}</string>
            </dict>
            <key>player_1_d1_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{106,202}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{106,202}}</string>
                <key>sourceSize</key>
                <string>{184,250}</string>
            </dict>
            <key>player_1_d1_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1364},{118,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{118,200}}</string>
                <key>sourceSize</key>
                <string>{168,240}</string>
            </dict>
            <key>player_1_d1_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1590},{98,194}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,25},{98,194}}</string>
                <key>sourceSize</key>
                <string>{188,238}</string>
            </dict>
            <key>player_1_d1_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1450},{118,194}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{118,194}}</string>
                <key>sourceSize</key>
                <string>{172,238}</string>
            </dict>
            <key>player_1_d1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1204},{126,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{126,192}}</string>
                <key>sourceSize</key>
                <string>{194,232}</string>
            </dict>
            <key>player_1_d1_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1332},{116,196}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{116,196}}</string>
                <key>sourceSize</key>
                <string>{186,258}</string>
            </dict>
            <key>player_1_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,634},{102,206}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{102,206}}</string>
                <key>sourceSize</key>
                <string>{170,270}</string>
            </dict>
            <key>player_1_d1_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{94,200}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{94,200}}</string>
                <key>sourceSize</key>
                <string>{198,250}</string>
            </dict>
            <key>player_1_d1_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{118,206}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{118,206}}</string>
                <key>sourceSize</key>
                <string>{202,236}</string>
            </dict>
            <key>player_1_d1_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1236},{126,202}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{126,202}}</string>
                <key>sourceSize</key>
                <string>{210,264}</string>
            </dict>
            <key>player_1_d1_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,222}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,39},{72,222}}</string>
                <key>sourceSize</key>
                <string>{136,270}</string>
            </dict>
            <key>player_1_d1_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{76,220}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{76,220}}</string>
                <key>sourceSize</key>
                <string>{160,266}</string>
            </dict>
            <key>player_1_d1_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{82,214}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,37},{82,214}}</string>
                <key>sourceSize</key>
                <string>{146,266}</string>
            </dict>
            <key>player_1_d1_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,420},{86,210}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{86,210}}</string>
                <key>sourceSize</key>
                <string>{160,262}</string>
            </dict>
            <key>player_1_d1_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,508},{88,208}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{88,208}}</string>
                <key>sourceSize</key>
                <string>{150,272}</string>
            </dict>
            <key>player_1_d1_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,344},{88,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{88,210}}</string>
                <key>sourceSize</key>
                <string>{170,256}</string>
            </dict>
            <key>player_1_d1_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{82,214}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{82,214}}</string>
                <key>sourceSize</key>
                <string>{170,270}</string>
            </dict>
            <key>player_1_d1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,530},{102,206}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{102,206}}</string>
                <key>sourceSize</key>
                <string>{122,248}</string>
            </dict>
            <key>player_1_d1_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{74,218}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{74,218}}</string>
                <key>sourceSize</key>
                <string>{190,262}</string>
            </dict>
            <key>player_1_d1_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1504},{98,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{98,194}}</string>
                <key>sourceSize</key>
                <string>{172,218}</string>
            </dict>
            <key>player_1_d1_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{128,194}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{128,194}}</string>
                <key>sourceSize</key>
                <string>{146,226}</string>
            </dict>
            <key>player_1_d1_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1484},{128,194}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{128,194}}</string>
                <key>sourceSize</key>
                <string>{146,226}</string>
            </dict>
            <key>player_1_d1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{102,206}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{102,206}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_d1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e4ab62c1731d76fa4282fbc2121679f:1/1$</string>
            <key>textureFileName</key>
            <string>player_1_d1.png</string>
        </dict>
    </dict>
</plist>
