<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_d5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{188,192}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,36},{188,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{156,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{120,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{120,226}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,224}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{158,224}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{182,196}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{182,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,224}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{158,224}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{120,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{120,226}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{156,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{188,192}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,36},{188,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{170,180}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{152,216}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,21},{152,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,804},{170,178}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{170,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,196},{192,172}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{192,172}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,390},{192,168}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{192,168}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,608},{194,162}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,47},{194,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,390},{192,168}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{192,168}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,196},{192,172}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{192,172}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,804},{170,178}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{170,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{170,180}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{188,192}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,36},{188,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{156,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,228},{164,196}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{120,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{120,226}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,224}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{158,224}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{182,196}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{182,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{182,196}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{182,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,224}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{158,224}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{120,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{120,226}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{156,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{188,192}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,36},{188,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{170,180}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,804},{170,178}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{170,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,584},{158,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{158,164}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,196},{192,172}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{192,172}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,390},{192,168}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{192,168}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,608},{194,162}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,47},{194,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,584},{158,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{158,164}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,228},{164,196}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{152,216}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,21},{152,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,608},{194,162}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,47},{194,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,390},{192,168}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{192,168}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,196},{192,172}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{192,172}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,804},{170,178}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{170,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{170,180}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_d5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbb8be5cc8080a666ffcc6ed2716867a:3ff476c620aac70806cb838e3e93fe4b:ff677746c00e7b2afe68bdc4fdf06efd$</string>
            <key>textureFileName</key>
            <string>player_1_d5.png</string>
        </dict>
    </dict>
</plist>
