<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,264},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,594},{138,148}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{226,120}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{226,120}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,134},{236,128}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{236,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{136,150}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{132,128}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{132,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{132,128}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{132,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{136,150}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,134},{236,128}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{236,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{226,120}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{226,120}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,594},{138,148}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{152,216}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,21},{152,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,424},{168,122}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{168,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{236,130}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{236,130}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,132}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,70},{256,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,424},{186,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{186,140}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,424},{186,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{186,140}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,132}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,70},{256,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{236,130}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{236,130}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,424},{168,122}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{168,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,594},{138,148}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{226,120}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{226,120}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{164,196}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,33},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,134},{236,128}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{236,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{136,150}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{132,128}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{132,128}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{150,120}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{150,120}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,566},{158,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,45},{158,164}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{164,196}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,33},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{152,216}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,21},{152,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,264},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,566},{158,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,45},{158,164}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{150,120}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{150,120}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,424},{186,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{186,140}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,132}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,70},{256,132}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{236,130}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{236,130}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,424},{168,122}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{168,122}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_d3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ad299a93731c93c80fb08db4add336:94a0840e367c0839b91ab22716ba57af:23435d979a3bb95d6b4f87a6c9d1083b$</string>
            <key>textureFileName</key>
            <string>player_1_d3.png</string>
        </dict>
    </dict>
</plist>
