<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_4_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,176},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{230,172}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{230,172}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{140,254}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,11},{140,254}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,144},{178,242}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{178,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,182},{156,242}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{156,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,340},{112,242}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,16},{112,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{176,240}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,582},{142,238}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,16},{142,238}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,454},{126,240}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{126,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{140,254}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,11},{140,254}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{230,172}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{230,172}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{178,242}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{178,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,80},{288,106}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{246,190}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{246,190}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,176},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{178,242}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{178,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{156,242}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{156,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,324},{112,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,17},{112,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,438},{176,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,498},{142,238}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{142,238}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,370},{126,240}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{126,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{246,190}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{246,190}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{156,242}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{156,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,80},{288,106}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{230,172}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{230,172}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{140,254}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,11},{140,254}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,144},{178,242}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{178,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,182},{156,242}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{156,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,340},{112,242}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,16},{112,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{176,240}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,582},{142,238}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,16},{142,238}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,454},{126,240}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{126,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{140,254}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,11},{140,254}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,324},{112,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,17},{112,242}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{230,172}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{230,172}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,80},{288,106}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
            <key>player_4_d3_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{246,190}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{246,190}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,176},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,616},{174,186}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,65},{174,186}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,616},{174,186}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,65},{174,186}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,616},{174,186}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,65},{174,186}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,176},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,438},{176,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,498},{142,238}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{142,238}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,370},{126,240}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{126,240}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{246,190}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{246,190}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
            <key>player_4_d3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,80},{288,106}}</string>
                <key>sourceSize</key>
                <string>{336,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_4_d3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69202bc7c369d0f7844b01783db5f616:77f6e010e9f3327137616aa846f2fbed:0691ffe7ab1ed1d6bffca74b3e4658d0$</string>
            <key>textureFileName</key>
            <string>player_4_d3.png</string>
        </dict>
    </dict>
</plist>
