<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_2_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1390},{269,264}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,68},{269,264}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1440},{185,280}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{185,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,574},{179,282}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{179,282}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1732},{177,284}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{177,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1732},{175,284}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{175,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{173,286}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{173,286}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{173,288}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{173,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{173,288}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{173,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{173,288}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{173,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{173,288}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{173,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{175,288}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{175,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,822},{259,268}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{259,268}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{177,288}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{177,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,288}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{177,288}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,290},{179,286}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{179,286}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{181,286}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{181,286}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,582},{183,286}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{183,286}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,872},{183,286}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{183,286}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1446},{183,284}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{183,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{185,284}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{185,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,288},{185,284}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{185,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,578},{187,284}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{187,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{249,270}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,66},{249,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,870},{187,284}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{187,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1160},{189,284}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{189,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{191,284}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{191,284}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,864},{195,282}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{195,282}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1156},{199,282}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{199,282}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1446},{203,282}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,64},{203,282}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{207,280}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{207,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,284},{211,280}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{211,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,570},{215,280}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{215,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{215,280}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{215,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,550},{237,270}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,67},{237,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,288},{217,280}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{217,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,852},{219,278}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{219,278}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1148},{221,278}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,65},{221,278}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,566},{221,276}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{221,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,846},{223,276}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{223,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1132},{225,276}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{225,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1428},{227,276}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{227,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1722},{227,276}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{227,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1706},{229,274}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{229,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,2},{231,274}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{231,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1410},{227,274}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{227,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,278},{231,274}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{231,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{233,274}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{233,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,554},{235,272}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{235,272}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,844},{235,272}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{235,272}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,828},{237,270}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{237,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1118},{239,270}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{239,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1400},{241,270}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,66},{241,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1686},{245,270}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,66},{245,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,278},{249,270}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,66},{249,270}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1351},{253,268}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,67},{253,268}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1124},{217,274}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{217,274}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1092},{257,268}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,67},{257,268}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1100},{261,268}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{261,268}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1606},{265,266}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,67},{265,266}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1672},{269,266}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,67},{269,266}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,284},{207,276}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{207,276}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,566},{195,278}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,65},{195,278}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
            <key>player_2_d1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1730},{191,280}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,64},{191,280}}</string>
                <key>sourceSize</key>
                <string>{325,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_2_d1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e772e2a8a2c48fe2d0607e860d1e5b74:1/1$</string>
            <key>textureFileName</key>
            <string>player_2_d1.png</string>
        </dict>
    </dict>
</plist>
