<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,10593},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>12background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,10593},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>13background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10593},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>14background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,9887},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>15background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,9889},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>16background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,9887},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>17background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,9887},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>18background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9887},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>19background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,9181},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>20background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,9183},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>21background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,9181},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>22background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,9181},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>23background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9181},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>24background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,8475},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>25background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,8477},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>26background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,8475},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>27background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,8475},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>28background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8475},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>29background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,7769},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>30background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,7771},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>31background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,7769},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>32background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,7769},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>33background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7769},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>34background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,7063},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>35background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,7065},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>36background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,7063},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>37background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,7063},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>38background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7063},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>39background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,6357},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>40background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,6359},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>41background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,6357},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>42background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,6357},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>43background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6357},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>44background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,5651},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>45background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,5653},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>46background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,5651},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>47background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,5651},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>48background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5651},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>49background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,4945},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>50background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,4947},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>51background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,4945},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>52background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,4945},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>53background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4945},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>54background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,4239},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>55background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,4241},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>56background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,4239},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>57background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,4239},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>58background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4239},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>59background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,3533},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>60background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,3535},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>61background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,3533},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>62background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,3533},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>63background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3533},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>64background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,2827},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>65background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,2829},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>66background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,2827},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>67background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,2827},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>68background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2827},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>69background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,2121},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>70background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,2123},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>71background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,2121},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>72background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,2121},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>73background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2121},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>74background.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,1415},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>75background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,1417},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>76background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4613,1415},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>77background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1415},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>background0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3078,2},{1535,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,707}}</string>
                <key>sourceSize</key>
                <string>{1539,711}</string>
            </dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{6152,2},{1535,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,705}}</string>
                <key>sourceSize</key>
                <string>{1539,709}</string>
            </dict>
            <key>background10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4615,2},{1535,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,705}}</string>
                <key>sourceSize</key>
                <string>{1539,709}</string>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,708},{1535,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,705}}</string>
                <key>sourceSize</key>
                <string>{1539,709}</string>
            </dict>
            <key>background4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{1535,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,705}}</string>
                <key>sourceSize</key>
                <string>{1539,709}</string>
            </dict>
            <key>background5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{1536,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1536,704}}</string>
                <key>sourceSize</key>
                <string>{1540,708}</string>
            </dict>
            <key>background6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,704}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{1536,704}}</string>
                <key>sourceSize</key>
                <string>{1540,708}</string>
            </dict>
            <key>background7.png</key>
            <dict>
                <key>frame</key>
                <string>{{6152,709},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>background8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,711},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
            <key>background9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4615,709},{1535,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1535,704}}</string>
                <key>sourceSize</key>
                <string>{1539,708}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{8192,16384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90cd5696acdd822f42e408ecaea0d67f:1/1$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
