<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoveDifficultyWt3</key>
	<dict>
		<key>Move1</key>
		<dict>
			<key>SingleTouches</key>
			<string>1,2,4</string>
			<key>DoubleTouches</key>
			<string>3,5</string>
			<key>Swipes</key>
			<string>6</string>
		</dict>
		<key>Move2</key>
		<dict>
			<key>SingleTouches</key>
			<string>1,2</string>
			<key>DoubleTouches</key>
			<string>3,5</string>
			<key>Swipes</key>
			<string>4,6</string>
		</dict>
		<key>Move3</key>
		<dict>
			<key>SingleTouches</key>
			<string>2,4</string>
			<key>DoubleTouches</key>
			<string>1,3,5</string>
			<key>Swipes</key>
			<string>6</string>
		</dict>
		<key>Move4</key>
		<dict>
			<key>SingleTouches</key>
			<string>1</string>
			<key>DoubleTouches</key>
			<string>3,5</string>
			<key>Swipes</key>
			<string>2,4,6</string>
		</dict>
		<key>Move5</key>
		<dict>
			<key>SingleTouches</key>
			<string>1,2,4</string>
			<key>DoubleTouches</key>
			<string>3,5,6</string>
			<key>Swipes</key>
			<string></string>
		</dict>
	</dict>
	<key>MoveDifficultyWt5</key>
	<dict>
		<key>Move1</key>
		<dict>
			<key>SingleTouches</key>
			<string>1,3,6</string>
			<key>DoubleTouches</key>
			<string>2,5</string>
			<key>Swipes</key>
			<string>4</string>
		</dict>
		<key>Move2</key>
		<dict>
			<key>SingleTouches</key>
			<string>1,3</string>
			<key>DoubleTouches</key>
			<string>2,4,5</string>
			<key>Swipes</key>
			<string>6</string>
		</dict>
		<key>Move3</key>
		<dict>
			<key>SingleTouches</key>
			<string>2,4,6</string>
			<key>DoubleTouches</key>
			<string>3,5</string>
			<key>Swipes</key>
			<string>1</string>
		</dict>
		<key>Move4</key>
		<dict>
			<key>SingleTouches</key>
			<string>1</string>
			<key>DoubleTouches</key>
			<string>2,3,4,5</string>
			<key>Swipes</key>
			<string>6</string>
		</dict>
		<key>Move5</key>
		<dict>
			<key>SingleTouches</key>
			<string></string>
			<key>DoubleTouches</key>
			<string>1,3,5</string>
			<key>Swipes</key>
			<string>2,4,6</string>
		</dict>
	</dict>
	<key>MoveDifficultyWt7</key>
	<dict>
		<key>Move1</key>
		<dict>
			<key>SingleTouches</key>
			<string>2</string>
			<key>DoubleTouches</key>
			<string>1,3,5</string>
			<key>Swipes</key>
			<string>4,6</string>
		</dict>
		<key>Move2</key>
		<dict>
			<key>SingleTouches</key>
			<string></string>
			<key>DoubleTouches</key>
			<string>1,2,3,6</string>
			<key>Swipes</key>
			<string>4,5</string>
		</dict>
		<key>Move3</key>
		<dict>
			<key>SingleTouches</key>
			<string>3</string>
			<key>DoubleTouches</key>
			<string>1,2,5,6</string>
			<key>Swipes</key>
			<string>4</string>
		</dict>
		<key>Move4</key>
		<dict>
			<key>SingleTouches</key>
			<string></string>
			<key>DoubleTouches</key>
			<string>1,2,3,4,5,6</string>
			<key>Swipes</key>
			<string></string>
		</dict>
		<key>Move5</key>
		<dict>
			<key>SingleTouches</key>
			<string></string>
			<key>DoubleTouches</key>
			<string>1,3,5</string>
			<key>Swipes</key>
			<string>2,4,6</string>
		</dict>
	</dict>
</dict>
</plist>
