<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_4_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,194},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,80},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,382},{200,212}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{200,212}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{182,218}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{182,218}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,544},{192,158}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,102},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{182,218}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{182,218}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,382},{200,212}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{200,212}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,80},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,190}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{236,190}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{196,224}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{196,224}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,190}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{236,190}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,80},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,382},{200,212}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{200,212}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{182,218}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{182,218}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,544},{192,158}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,102},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{182,218}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{182,218}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,382},{200,212}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{200,212}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,80},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,174}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{238,174}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{236,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,80},{236,180}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,190}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{236,190}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{196,224}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{196,224}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,194},{192,226}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,226}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,190}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{236,190}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{196,224}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{196,224}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,178},{232,202}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{232,202}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
            <key>player_4_d1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,190}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,69},{236,190}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_4_d1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319f510b1aa5a7aecafa40b2778515b7:8a5ceb78a049b161e24a52ad7f5b85e0:6a74af8938c2f84134408d32c475c81e$</string>
            <key>textureFileName</key>
            <string>player_4_d1.png</string>
        </dict>
    </dict>
</plist>
