<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_3_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,196},{206,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{206,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
            <key>player_3_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,204}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{198,204}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{226,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{226,192}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>player_3_d1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{242,196}}</string>
                <key>sourceSize</key>
                <string>{250,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3_d1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:502f52b0e4684b55fdcef9e0b406ae5b:5b4dc962a008aefffea5700f47ef3dd2:9fb696a6b3c3994dac68ff1b1daec455$</string>
            <key>textureFileName</key>
            <string>player_3_d1.png</string>
        </dict>
    </dict>
</plist>
