<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_3_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,836},{174,186}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{174,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{246,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,438},{238,232}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{238,232}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,182}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{218,182}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{248,252}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{286,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{286,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,678},{190,156}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{190,156}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,678},{190,156}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{190,156}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{286,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{286,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{248,252}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,182}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{218,182}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,678},{190,156}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{190,156}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,438},{238,232}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{238,232}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{246,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{288,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{288,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{246,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,438},{238,232}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{238,232}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,182}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{218,182}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{248,252}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{286,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{286,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,678},{190,156}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{190,156}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{286,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{286,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,836},{174,186}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{174,186}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,186},{206,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{206,198}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{248,252}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{248,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{218,182}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{218,182}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,438},{238,232}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{238,232}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{246,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{288,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_3_d2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{288,216}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3_d2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fb34f102478c3ef75e7f3f82f4f9ce3:9ea1a2097d08ad02aca8190d7612ecfb:96fbd6daea235c16863c3a375403ce97$</string>
            <key>textureFileName</key>
            <string>player_3_d2.png</string>
        </dict>
    </dict>
</plist>
