<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_d6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{168,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,19},{168,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,212}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,23},{144,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{188,218}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,17},{188,218}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,162},{204,208}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,24},{204,208}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,368},{144,200}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,27},{144,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,192},{204,192}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{204,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,172},{186,200}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{186,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,212}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,19},{144,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{188,218}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{188,218}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,208}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{224,208}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{170,180}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,360},{182,200}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{182,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,360},{182,200}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{182,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,208}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{224,208}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{188,218}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{188,218}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,212}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,19},{144,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,172},{186,200}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{186,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,192},{204,192}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{204,192}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,368},{144,200}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,27},{144,200}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{164,180}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,40},{164,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,162},{204,208}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,24},{204,208}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{188,218}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,17},{188,218}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,212}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,23},{144,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{168,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,19},{168,212}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,514},{138,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{138,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{164,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{164,140}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,530},{174,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{174,146}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,414},{176,162}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,216},{196,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{196,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,386},{142,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,41},{142,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,386},{142,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,41},{142,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{164,180}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,40},{164,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{170,180}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{170,180}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{158,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{158,214}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,216},{196,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{196,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,414},{176,162}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,530},{174,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{174,146}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{164,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{164,140}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
            <key>player_1_d6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,514},{138,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{138,178}}</string>
                <key>sourceSize</key>
                <string>{288,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_d6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be6d157ad1d3ff5bfe480e887d9fb4c9:3cc58af6653b508807fc5011162c007e:4c7dd0da128352800c00638a5eb668ba$</string>
            <key>textureFileName</key>
            <string>player_1_d6.png</string>
        </dict>
    </dict>
</plist>
